@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos ADSI</h1>
    <p>Bienvenida<a href="https://docs.microsoft.com/aspnet/core">Ingeniera Lorena</a>.</p>
</div>
